body{
    background: url('canyonlands.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.dropdown-container{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: black;
}